@CHARSET "UTF-8";



.homeBody {
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
}
.textCenter {
	text-align: center;

}

.text2 {
	-webkit-animation: fadeIn 10s ease-in-out 0s 1 normal;
}

.gachaList {
	width: 60%;
	margin: auto;
	padding-bottom: 20px;
	-webkit-animation: fadeIn 5s steps(1) 0s 1 normal;

}
.gachaList_2 {
	width: 60%;
	margin: auto;
	padding-bottom: 20px;

}
.gachaList td {
	padding-top: 10px;
    padding-bottom: 10px;
}
.gachaImage {
	width: 100%;
}
.submitButton {
	font-size: 1.6em;
	width: 60%;
	padding: 10px 30px;
    margin-top: 20px;
    margin-bottom: 20px;
	-webkit-animation: fadeIn 5s steps(1) 0s 1 normal;
}
.submitButton_2 {
	font-size: 1.6em;
	width: 60%;
	padding: 10px 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.resultBox {
	padding: 10px;
	border: 1px dotted #333333;
	margin-bottom: 10px;
	animation: fadeIn 5s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
}
.resultTable {
    width: 100%;
}
.resultList {
	width: 100%;
	text-align: left;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

html, body {
	height:80%;
	width:80%;
	margin-left : auto;
	margin-right : auto;
}